/*
 * Microsoft Sculpt Ergonomic Numpad - ZMK Keymap
 *
 * Matrix layout (6 rows x 4 cols):
 *
 * Row0: [NumLock] [Calculator] [Backspace] [  empty  ]
 * Row1: [Clear(C)] [    /    ] [    *    ] [    -   ]
 * Row2: [   7   ] [   9   ] [   8   ] [   +   ]
 * Row3: [   4   ] [   6   ] [  empty] [   5   ]
 * Row4: [   1   ] [   3   ] [   2   ] [ Enter  ]
 * Row5: [ empty ] [ empty ] [   0   ] [   .   ]
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
    // Row 0
    &kp KP_NUMLOCK &trans          &kp BACKSPACE
    // Row 1
    &kp KP_NUMLOCK &kp KP_SLASH    &kp KP_ASTERISK &kp KP_MINUS
    // Row 2
    &kp KP_NUMBER_7 &kp KP_NUMBER_9 &kp KP_NUMBER_8 &kp KP_PLUS
    // Row 3
    &kp KP_NUMBER_4 &kp KP_NUMBER_6                  &kp KP_NUMBER_5
    // Row 4
    &kp KP_NUMBER_1 &kp KP_NUMBER_3 &kp KP_NUMBER_2 &kp KP_ENTER
    // Row 5
                                     &kp N0           &kp DOT
            >;
        };

        // Function layer (hold NumLock to activate)
        fn_layer {
            label = "FN";
            bindings = <
    &bt BT_CLR   &bt BT_NXT   &trans
    &out OUT_BLE &out OUT_USB &trans &trans
    &trans       &trans       &trans &trans
    &trans       &trans              &trans
    &trans       &trans       &trans &trans
                              &trans &trans
            >;
        };
    };
};
